/*      Master Procurer  */
/*      Casading Style Sheet */
/*
Purpose
A functional dataloader that can be used for procurement and inventory tracking */

/*      Style Standards     
Colors:

Font: 

(Heading) font-family: 'Orbitron', sans-serif;
(Basic) font-family: 'Questrial', sans-serif;

<link href="https://fonts.googleapis.com/css?family=Orbitron|Questrial" rel="stylesheet">

*/



body {
    font-family: 'Questrial', sans-serif;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    display: inline-flex;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    margin-left: 1.5em;
    margin-top: -2em;
}

.material-icons {
    text-align: center;
    margin-left: 25%;
    font-size: 110px;
}